.body{
    font-family: 'Open Sans Condensed', sans-serif;
}

.panel-principal{
    background: #000000;
    height: 100%;
    width: 100%;
}
.panel-principal.center{
    margin: auto;
    width: 60%;
    background: transparent;
}
.panel-principal.center.titulo-presentacion{
    padding: 10px;
}
.h2{
    color: #ffffff;
    font-size: 64px;
}
.h4{
    color: #ffffff;
    font-size: 36px;
}

