
a,
a:focus,
a:hover {
  color: #fff;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	margin: none;
}

.panel-principal{
    background: #000000;
	margin:auto;
    height: 100%;
    width: 100%;
}
.panel-principal.center{
    width: 60%;
}
.panel-principal.center.titulo-presentacion{
    padding: 10px;
}
h1{
    color: #ffffff;
    font-size: 100 px;
}
h3{
    color: #ffffff;
    font-size: 80 px;
}

